{{define "content"}}
    {{range .Posts}}
        <article>
            <h2 class="post-title"><a href="/post/{{.ID}}">{{.Title}}</a></h2>
            <time>{{.CreatedAt.Format "2006-01-02"}}</time>
            <div class="post-excerpt">
                {{/* Show first 200 chars as excerpt */}}
                {{if gt (len .Content) 200}}
                    {{slice .Content 0 200}}...
                {{else}}
                    {{.Content}}
                {{end}}
            </div>
        </article>
    {{else}}
        <p>No posts yet. Add your first post to get started.</p>
    {{end}}
{{end}}
